html,body {
	min-height: 100%;
	height: 100%;
}

body {
   font-family: 'Lato', sans-serif;
   font-size: 14px;
}

section {
	padding: 60px 0;
	color: #ffffff;
}

h1{
	font-size: 28px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	line-height: 1.2;
}

h2{
	font-size: 10px;
	line-height: 1.57;
	color: #b13ee5;
}

h3{
	font-size: 24px;
    line-height: 1.22;
    color: #222222;
}

p{
	font-size: 15px;
}

li {
	list-style-type: circle;
}

.chowbase {
	font-family: Lato;
	font-size: 27px;
	font-weight: 900;
	font-style: italic;
	color: #ffffff;
}

#intro{
	background-image: url(../img/icons/circles.svg), linear-gradient(to bottom, #377ead, #8e2dba);
	background-repeat: none;
	background-position: center bottom
}

#intro p {
	margin-bottom: 32px;
}

#intro img {
	margin-top: 60px;
}

#features {
	background-color: #fafafa;
	color: #a2a2a2;
}

.entry-title {
	max-width: 395px;
	margin: 0 auto;
	text-align: center;
}

.entry-title h1 {
	font-weight: normal;
}

.cta-btn{
	background-color: #0c667b;
	border-radius: 20px;
	color: #ffffff;
	padding: 10px 30px;
	margin-top: 32px;
}

/*BOOTSTRAP OVERRIDES*/
nav.navbar.navbar-default {
    margin: 0;
    background-color: transparent;
}

/*BENEFITS SECTION*/

.container {
	padding: 0 120px;
}


.benefits-desc{
	font-size: 15px;
	line-height: 1.56;
	color: #a2a2a2;
}


.mobile-img{
	background-image: url('../img/mobile.png');
	background-size: cover;
    height: 400px;

}


#benefits{
	background-color: #ffffff;
	padding-bottom: 0;
}

/*TESTIMONIALS SECTION*/
#testimonials{
	background-color: #0C667B;
	line-height: 1.56;
	color: #ffffff;
}

.inline-desc{
    font-size: 27px;
    line-height: 1.22;
}

.name{
    font-size: 12px;
}

.icons {
	margin-top: 32px;
}

#testimonials img {
	max-width: 250px;
	display: block;
	margin: 0 auto;
}

.testimonials-img {
	background: url(../img/icons/group.svg) no-repeat center center;
	background-size: cover;
}

/*CALL TO ACTION(CTA) SECTION*/
#cta{
	background-color: #ffffff;
	text-align: center;
	color: #222222;
}
.cta-qn{
	line-height: 1.22;
}

.cta-desc{
	color: #a2a2a2;
}

input {
	padding: 10px 30px;
	border-top-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 20px;
}

.sub-btn{
	background-color: #0c667b;
	color: #ffffff;
	padding: 10px 30px;
	margin-top: 32px;
	border-top-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0;
    background-color: #8E2DBA;
}

/*FOOTER*/

footer{
	padding: 60px;
	background-color: #8E2DBA;
	color: #ffffff;
	line-height: 1.57;
	font-size: 10.5px;
}

.copyright{
	color: #a3d4f7;
}
 
footer li{
	list-style-type: none;
	font-size: 15px;
}

footer a {
	color: #ffffff;
}


.footer-links{
	border-right: solid 0.2px #377ead;
	   
}

.footer-links p {
	padding-left: 40px;
}

.footer-links:last-child {
	border-right: none;
}
